extends layout

block content
    doctype html
    html
        head
            title create
            h1.titulo_inicial Criar Dados
        body
            a(href="/medicos/create")
                h1 Médicos
            a(href="/utentes/create")
                h1 Utentes
            a(href="/especialidades/create")
                h1 Especialidades
