extends layout

block content

    doctype html
    html
        head
            title read
            h1.titulo_inicial Consultar Dados

        body
            a(href="/medicos")
                h1 Médicos
            a(href="/utentes")
                h1 Utentes
            a(href="/especialidades")
                h1 Especialidades
