extends layout

block content

    doctype html
    html
        head
            title update
            h1.titulo_inicial Modificar dados

        body
            a(href="/medicos/update")
                h1 Médicos
            a(href="/utentes/update")
                h1 Utentes
            a(href="/especialidades/update")
                h1 Especialidades
