extends layout

block content
    doctype html
    html
        head
            title delete
            h1.titulo_inicial Apagar dados

        body
            a(href="/medicos/delete")
                h1 Médicos
            a(href="/utentes/delete")
                h1 Utentes
            a(href="/especialidades/delete")
                h1 Especialidades
