//precisa de correção sobre os ids da coleção
doctype html
html
    head
        title Detalhes das Especialidades
    body
        h1 Detalhes das Especialidades
        h2= 'Especialidade: ' + especialidade.nome
        p ID: #{especialidade._id}
        p Description: #{especialidade.descricao}