doctype html
html
    head
        title read
        h1 Consultar
    body
        a(href="/medicos")
            h1 Médicos
        a(href="/utentes")
            h1 Utentes
        a(href="/especialidades")
            h1 Especialidades
