doctype html
html
    head
        title Create
    body
        h1 Crie um novo Utente
        form(method='POST', action='/utentes')
            label(for='id_utente') ID Utente:
            input#id_utente(type='number', name='id_utente', required)
            if !id_utente
                p ID Utente is required.

            label(for='nome') Nome:
            input#nome(type='text', name='nome', required)
            if !nome
                p Nome is required.

            label(for='apelido') Apelido:
            input#apelido(type='text', name='apelido', required)
            if !apelido
                p Apelido is required.

            label(for='idade') Idade:
            input#idade(type='number', name='idade', required)
            if !idade
                p Idade is required.

            label(for='sexo') Sexo:
            input#sexo(type='text', name='sexo', required)
            if !sexo
                p Sexo is required.

            label(for='localidade') Localidade:
            input#localidade(type='text', name='localidade', required)
            if !localidade
                p Localidade is required.

            label(for='email') Email:
            input#email(type='email', name='email', required)
            if !email
                p Email is required.

            label(for='numsaude') Numsaude:
            input#numsaude(type='number', name='numsaude', required)
            if !numsaude
                p Numsaude is required.

            input(type='submit', value='Submit')
